<div class="body">
        <header>
        <nav class="navbar navbar-static-top" role="navigation">  
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="botton"></a>
                <span class="sr-only">toggle navigation</span>
                
                <div class="nav-div">
                      <ul class="dropdown user user-menu"></ul>
                      <li><a class="nav-anchor" href="#Home"><img class="sidebar-img" src="assets/.png"> Home</a></li>
                      <li><a class="nav-anchor" href="#Home"><img class="sidebar-img" src="assets/.png"> Home</a></li>
                </div>
        </nav>
        </header>
        <section class="section">

                <aside class="aside">
                        <div class="sidebar">    
                        <div class="sidebar-imagebg">
                                <a class="sidebar-anchor active-profile-picture"  ><img class="sidebar-img" src="assets/sidebar-userpicture-boy.png">Franz Ciceron</a>
                                <a class="sidebar-anchor active-main-navigation"  >Main Navigation</a>
                                <ul class="ulsidebar">
                                <li><a class="sidebar-anchor" href="#Home"><img class="sidebar-img" src="assets/sidebar-home.png"> Home</a></li>
                                <li><a class="sidebar-anchor" href="#Profile"><img class="sidebar-img" src="assets/sidebar-profile.png">Profile</a></li>
                                <li><a class="sidebar-anchor" href="#Transactions"><img class="sidebar-img" src="assets/sidebar-transaction.png">Transactions</a></li>
                                <li><a class="sidebar-anchor" href="#Bank Details"><img class="sidebar-img" src="assets/sidebar-bankdetails.png">Bank Details</a></li>
                                <li><a class="sidebar-anchor" href="#Access Management"><img class="sidebar-img" src="assets/sidebar-accessmanagement.png">Access Management</a></li>
                                <li><a class="sidebar-anchor" href="#Wallet"><img class="sidebar-img" src="assets/sidebar-wallet.png">Wallet</a></li>
                                <li><a class="sidebar-anchor" href="#FAQ'S"><img class="sidebar-img" src="assets/sidebar-faqs.png">FAQ'S</a></li>
                                </ul>
                                <div class="content-separator">
                                        <a class="active-logout" href="#Logout"><img class="sidebar-img" src="assets/sidebar-logout.png">Logout</a>
                                        <a class="active-collapse-icon" href="#"><img class="sidebar-img" src="assets/sidebar-collapseicon-left.png">Collapse Bar</a>
                                </div>
                                
                        </div>
                        </div>

                </aside>    
        </section>

                <article class="content">
                        <div>
                        <h2>Responsive Sidebar Example</h2>
                        <p>This example use media queries to transform the sidebar to a top navigation bar when the screen size is 700px or less.</p>
                        <p>We have also added a media query for screens that are 400px or less, which will vertically stack and center the navigation links.</p>
                        </div>
                </article>


</div>